/*----- ROOT VARIABLES -----*/
:root {
    /* Typography Variables */
    --mandolore: 'Mandalore', monospace;
    --space-font: 'Space Mono', monospace;

    /* Colour Variables */
    --white: #F5F5F5;
    --orange: #ef554b;
    --purple: #8C6175;
    --brown: #40342D;
    --camel: #A6695B;
    --dusty-pink: #A66868;
    --black: #000000;

    --x: -6px;
    --y: -4px;
}

/*----- Containers -----*/
body {
    margin: 0;
    /* overflow: hidden; */
    font-family: var(--space-font);
    background-color: var(--camel);
    width: 100%;
}

.nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width:100%;
    
}

.score-container, .controls__container {
    display: flex;
    flex-direction: row;

}

.reset__container{
    display: flex;
}

#reset-button{
    cursor: pointer;
}

.score-container p {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.audio__container .btn {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.audio__container {
    display: flex;
    /**margin-left: 23%;**/
}

.page__container {
    text-align: center;
    padding-top: 2rem;
}

#game-logo {
    display: block;
    text-align: center;
    border: 2px solid var(--black);
    padding: 1rem;
    background-color: var(--camel);
}

#game {
    background-image: url(../sprites/levelsandcrawler.png);
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display:block;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/** Start game page **/
#start-game  {
    border: 2px solid var(--brown);
    background: url(../images/game-000.webp) center center /cover no-repeat;
    margin: 1rem auto;
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    position: fixed;
    top: 50%;
    width:80%;
    left:50%;
    height:80%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
}
/**Instructions div**/
#how-to-play{
    background: url(../images/game-000.webp) center center /cover no-repeat;
    margin: 1rem auto;
    text-align: center;
    padding: 1rem;
    border-radius: 2rem;
    position: fixed;
    top: 50%;
    width:80%;
    left:50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    display: none;
}


/*----- Text -----*/
h1 {
    font-family: var(--mandolore);
    font-weight: normal;
    font-style: normal;
    color: var(--purple);
    margin: .5rem;
    text-align: center;
    font-size: 2.9rem;
    text-shadow: calc(-5px * -1) calc(-5px * -1) 0px var(--black);
    -webkit-text-stroke: 2px var(--black);
    padding-top:3rem;
}


h2 {
    font-family: var(--space-font);
    font-weight: normal;
    font-style: normal;
    color: var(--black);
    margin: 0;
    font-size: 1rem;
}

h3 {
    font-family: var(--space-font);
}

p {
    font: 21px var(--space-font);
    border: 2px solid var(--brown);
    background-color: var(--brown);
    border-radius: 10px;
    padding: 0.5rem;
    color: var(--white);
    text-shadow: 3px 3px 5px var(--orange);
    text-align: center;
    margin: 0 auto 20px auto;
}

.score-container p {
    margin: 1rem;
    font-size: 2rem;
}

.reset__container {
    margin-right:1rem;
}

a {
    text-decoration: none;
    margin-right: 1rem;
}
#how-to-play h1{
    font-size: 4rem;
    text-shadow: none;
    color:var(--white)
}
#how-to-play p{
    font-size: 1rem;
    background-color: transparent;
    border: none;
    padding: 0rem;
}
#description h1{
    font-size: 8rem;
    text-shadow: none;
    color:var(--white)
}
/* music button */
.btn {
    font: 2rem var(--space-font);
    border: 2px solid var(--brown);
    background-color: var(--brown);
    border-radius: 10px;
    border-width: fit-content;
    padding: 0.5rem;
    color: whitesmoke;
    text-shadow: 3px 3px 5px var(--orange);
    text-align: center;
    align-self: center;
    justify-content: end;
}
/**Buttons**/
.btn:hover{
    box-shadow:0 4px 8px 0 #ef554b, 0 6px 20px 0 #ef554b ;
    cursor: pointer;
}


img {
    height: 150px;
}

footer {
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
}

#team-name h3 {
    text-align: center;
    font: 21px var(--space-font);
    border: 2px solid var(--brown);
    background-color: var(--brown);
    border-radius: 10px;
    border-width: fit-content;
    padding: 0.5rem;
    color: var(--white);
    text-shadow: 3px 3px 5px var(--orange);
}

#social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font: 19px #000 'Space Mono', monospace;
}

#team-socials {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
}

#team-socials li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#social-links li {
    padding: 0.5rem;
}

i {
    color: black;
}

a:hover {
    box-shadow: 3px 3px 6px #F5F5F5;
}
/*---------- MEDIA QUERIES ----------*/
/* Tablets */
@media only screen and (min-width : 481px) {

    .page__container {
        padding-top: 3rem;
    }

    h1 {
        font-size: 8rem;
        text-shadow: calc(-10px * -1) calc(-10px * -1) 0px var(--black);
        margin: 1rem;
    }

    img {
        height: 250px;
    }

    h2 {
        font-size: 1rem;
    }
}

/* Laptops */
@media only screen and (min-width : 769px) {


    h1 {
        font-size: 12rem;
    }

    img {
        height: 800px;
    }

    ;

    h2 {
        font-size: 2rem;
    }

    #social-links {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #team-members {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        flex-grow: 1;
    }

    #team-members li {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    #team-socials {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        flex-grow: 1;
    }

    #team-socials li {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    #social-links li {
        padding: 0.5rem;
    }
}