body {
  margin:0;
  /* overflow: hidden; */
  font-family: 'Space Mono', monospace;
}

h1 {
    font-family: 'Space Mono', monospace;
}

h3 {
    font-family: 'Rajdhani', sans-serif;
}
#game{
    background-image: url(/assets/sprites/sandcrawler-lvl.png);
    background-size: cover;
}
